@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  /* bg colors */
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section[id] {
  scroll-margin-top: 65px;
}

header {
  position: fixed;
  background-image: url("./img/fondo.jpg");
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  top: 0px;
}

.logo {
  border-radius: 1rem;
  padding: 0.5rem;
  height: 95%;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--bg-white);
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  padding: 4px 10px;
  border-style: ridge;
  border-radius: 10px;
  max-width: 1400px;
}

main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#hero {
  width: 85%;
  max-width: 1400px;
  padding: 70px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-info p {
  display: flex;
  text-align: justify;
}

.hero-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
  padding: 20px;
  border-radius: 1rem;
}

.hero-info h1 {
  width: 90%;
  font-size: 44px;
  font-weight: 800;
  color: var(--text-white);
}

.hero-info p {
  font-size: 14px;
  width: 90%;
  color: var(--text-white);
  font-weight: 400;
}

.hero-info h3 {
  color: var(--text-white);
}

.hero-link {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.link1,
.link2 {
  color: var(--text-white);
  padding: 8px 20px;
  border-style: ridge;
  border-radius: 10px;
  border-color: 1rem white;
  font-size: 14px;
  background-image: url("./img/fondo.jpg");
  background-size: 1000px;
  font-weight: 500;
  text-decoration: none;
}
.container-img {
  background-image: url("./img/fondo.jpg");
  padding: 1rem;
  border-radius: 1rem;
}

.img2 {
  border-radius: 1rem;
  width: 300px;
}

#servicios {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding-bottom: 20px;
  margin: auto;
}

.servicios-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  color: var(--bg-white);
  border-radius: 1rem;
  padding: 20px 40px;
  border-style: ridge;
}

#servicios h2 {
  font-size: 32px;
  font-weight: 800;
  color: var(--text-white);
  background-image: url("./img/fondo.jpg");
  background-size: 1000px;
  border-style: ridge;
  padding: 10px;
  border-radius: 1rem;
  padding: 8px 20px;
}

.servicios-info ul li {
  font-size: 14px;
  color: var(--text-white);
  font-weight: 400;
}

.servicios-opciones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  transition: background-color 0.5s;
}

a:hover {
  background-image: url("./img/fondo.jpg");
  background-size: 500px;
}

#card-seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding: 20px;
  border-radius: 1rem;
  max-width: 1400px;
  gap: 25px;
  margin-top: 40px;
}

#card-seccion h2 {
  font-size: 32px;
  font-weight: 800;
  color: var(--text-white);
  background-image: url("./img/fondo.jpg");
  background-size: 1000px;
  border-style: ridge;
  padding: 10px;
  border-radius: 1rem;
  padding: 8px 20px;
}

#card-seccion p {
  font-size: 13px;
  color: var(--text-white);
  font-weight: 400;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.card {
  border-style: ridge;
  border-radius: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: justify;
  gap: 15px;
}
.card h3 {
  font-size: 21px;
  font-weight: 600;
  color: var(--text-white);
}

.card p {
  font-size: 13px;
  color: var(--text-white);
  font-weight: 400;
}

.card img {
  border-radius: 1rem;
  width: 30%;
}

#contact {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-style: ridge;
  padding: 20px;
  border-radius: 1rem;
  max-width: 1400px;
  gap: 25px;
  margin-top: 60px;
}
.contacto-contenedor {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacto-contenedor h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: var(--text-white);
  background-image: url("./img/fondo.jpg");
  background-size: 1000px;
  border-style: ridge;
  padding: 10px;
  border-radius: 1rem;
  padding: 8px 20px;
}

.contacto-contenedor h3 {
  font-size: 25px;
  font-weight: 600;
  color: var(--text-white);
}

.contenedor-datos {
  display: flex;
  flex-direction: column;
}
.datos {
  display: flex;
  align-items: center;
  gap: 20px;
}
.datos img {
  width: 50px;
}

.datos p {
  font-size: 13px;
  color: var(--text-white);
  font-weight: 400;
}

.redes {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.redes img {
  border-color: var(--text-white);
  border-style: ridge;
  width: 50px;
  padding: 4px;
  border-radius: 10px;
  background-image: url("./img/fondo.jpg");
  background-size: 300px;
  text-decoration: none;
}

.foto {
  background-image: url("./img/fondo.jpg");
  padding: 1rem;
  border-radius: 1rem;
}
.foto img {
  border-radius: 1rem;
  width: 350px;
}

footer {
  font-size: 24px;
}

footer img {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

#habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding: 20px;
  border-radius: 1rem;
  max-width: 1400px;
  gap: 25px;
  margin-top: 40px;
}
#habilidades h2 {
  font-size: 32px;
  font-weight: 800;
  color: var(--text-white);
  background-image: url("./img/fondo.jpg");
  background-size: 1000px;
  border-style: ridge;
  padding: 10px;
  border-radius: 1rem;
  padding: 8px 20px;
}

.habilidades-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.habilidades-img img {
  border-style: ridge;
  border-radius: 1rem;
  width: 120px;
  height: 120px;
}
